@use "../../style/mixins/adaptive";

.list {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  z-index: 11000;

  @include adaptive.md {
    gap: 10px;
  }

  @include adaptive.sm {
    right: 50%;

    transform: translateX(50%);
  }

  @include adaptive.xs {
    width: calc(100% - 16px * 2);

    right: 16px;
    bottom: 16px;

    transform: unset;
  }
}
