@use "reset";
@use "theme";
@use "pages/global-error";
@use "pages/not-found";

html {
  min-width: 260px;

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  height: 100%;

  overflow-x: hidden;

  background-color: var(--base-white);
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;

    transition: none !important;
  }
}
